$cyellow : #FED136;
$crimson-main : rgba(167, 5, 0, 1); // #A70500
$crimson-darkened : rgb(110, 0, 0); // #960000
$crimson-red : rgb(150, 0, 0);
$cgrey : #6B6B6B;
$bbcgrey : #E7E8E1;
$lightGrey : #F1F1F1;
$cgreen : #2EBD59;
$lighterBlack : rgb(36, 36, 36);
$textLightBlack : #4C4C4C;
$bodyPaddingTopDesktop : 100px + 20px; //for static nav bar on desktop, plus a bit of the margin space
$bodyPaddingTopMobile : 60px;
$veryLightBlue : #ACCFCC;